---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
	firstName: "Yeatee",
  country: "Japan",
  occupation: "Software Engineer",
  hobbies: ["Watching 3D animations", "Learning Computer Science"],
};

const skills = ["C/C++", "Rust", "Python", "TypeScript", "Go", "Scalar"]

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase"
---
<BaseLayout pageTitle={pageTitle}>
	<p>Test!</p>

	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		{identity.hobbies.length > 0 &&
		<li>My Hobbies: {identity.hobbies.map(hobby => `${hobby}\n`)}</li>
		}
	</ul>
	{happy && <p>I am happy to be learning Astro!</p>}

	{finished && <p>I finished this tutorial!</p>}

	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

	<p>My skills:</p>
	<ul>
		{skills.map(skill => <li class="skill">{skill}</li>)}
	</ul>
</BaseLayout>
